
toolbarbutton:hover,
button:not([disabled="true"]):hover,
menulist:not([disabled="true"]):hover,
.urlbarView-row:hover,
menuitem:hover,
.menu-iconic.bookmark-item:hover {
    background-color: rgba(5, 5, 5, 0) !important;
		border-radius: 12px;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		transform: translateY(-2px);
}

.urlbarView-row-inner:hover,
.footer-button{
		background-color: transparent !important;
}

.tabbrowser-tab[zen-essential="true"]:hover{
	background-color: rgba(113, 129, 140, 0.285) !important;
		border-radius: 12px;
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		transform: translateY(-2px);
}

toolbarbutton:not(.subviewbutton){
	transition: transform 200s ease, margin 200s ease;
	will-change: transform, margin;
	
}


toolbar .toolbarbutton-1 {
	&:not([disabled]) {
	  &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
	background-color: transparent !important;
	color: inherit;
	outline-color: var(--toolbarbutton-selected-outline-color);
}
	}
}

toolbar .toolbarbutton-1 {
	&:not([disabled]) {
	  &:hover:active > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
		background-color: transparent !important;
		color: inherit;
		outline-color: var(--toolbarbutton-active-outline-color);
	  }
	}
  }

  toolbar .toolbarbutton-1 {
	&:not([disabled]) {
	  &:hover > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
		background-color: transparent !important;
		color: inherit;
		outline-color: var(--toolbarbutton-hover-outline-color);
	  }
	}
  }

#zen-essentials-container{
    padding: 2px !important;
}

:root{
    --button-background-color-hover: transparent !important;
}

/*.subviewbutton*/