/* ==UserStyle==
@name           Animations Zen
@version        1.0.0
@description    A new userstyle
@author         Snesh
==/UserStyle== */



.tabbrowser-tab:not([zen-essential="true"]):hover {
    margin-left: 5px !important;
    transition: margin-left 0.4s ease;
    background-color: transparent;
}

.tabbrowser-tab:not([zen-essential="true"]) {
font-family: 'Monaspace Xenon' !important;
} 


#zen-current-workspace-indicator{
    font-family: 'CC Wild Words' !important;
}
