  /* Sidebar - Add Space for URL Bar */
  #TabsToolbar {
    padding-top: 38px;
    margin-top: 8px;
  }

  #zen-sidebar-top-buttons-customization-target {
    margin-bottom: 25px !important;
    padding-bottom: 50px !important;
  }


    /* URL Bar Styling */
    #urlbar-container {
      position: fixed !important;
      top: 42px;
      left: 6px;
      width: calc(10% - 17px) !important;
      visibility: visible !important;
      opacity: 1 !important;
      z-index: 1;
    }
    
    #zen-appcontent-wrapper {
      overflow: visible !important;
    }
    
    #navigator-toolbox {
      padding-top: 38px !important;
    }
    

    /* ==UserStyle==
@name           Acrylic tooltips Zen
@version        1.0.0
@description    A new userstyle
@author         Snesh
==/UserStyle== */


appearance: none;
        padding: var(--space-small);
        border: 1px solid var(--input-border-color);
        border-radius: var(--border-radius-small);
        margin: 0;
        background-color: var(--input-bgcolor, Field);
        color: var(--input-color, FieldText); 

        
@-moz-document url-prefix("chrome:") {

  /* ANCHOR [tooltip] */
      
  .tooltip-label {
      position: relative !important;
      z-index: 1000 !important; /* Bring it to the front */
      display: block; /* Ensure it remains a block element */
      width: 100%; /* Adjust width as needed */
      padding: 10px; /* Adjust padding if needed */
  }
  
  .tooltip-label {
      transform: scale(1.2); /* Adjust scale as needed */
      transform-origin: center;
  }
  
  .tooltip-label::before {
      content: '';
      position: absolute;
      top: -10px; /* Expand upward */
      left: -10px; /* Expand leftward */
      right: -10px; /* Expand rightward */
      bottom: -10px; /* Expand downward */
      background-color: rgba(5, 5, 5, .18); /* Match the background */
      border-radius: 12px;
      z-index: -1; /* Ensure it's behind the label */
  }
  
  .tooltip-label {
      margin: -10px !important; /* Adjust to make it larger */
  }
  
  tooltip {
      overflow: visible !important; /* Allow label to extend */
  }
  
  
  
  
  
  }