

.tabbrowser-tab:not([zen-essential="true"]), 
#urlbar-container, tab-group, 
panel:not(#autoscroller),
menupopup,
#confirmation-hint {
font-family: 'Monaspace Xenon' !important;
} 


.zen-current-workspace-indicator {
    font-family: 'CC Wild Words' !important;
}
