/* ==UserStyle==
@name           Acrylic Modal Zen
@version        1.0.0
@description    A new userstyle
@author         Snesh

IMPORTANT: SET zen.view.experimental-rounded-view in about:config to true for backdrop to actually work. 
==/UserStyle== */

/* ANCHOR [Panels] */

:root {
  --arrowpanel-background               : transparent !important;
  --theme-arrowpanel-background         : transparent !important;
  --toolbar-field-focus-background-color: transparent !important;
  --in-content-page-background          : transparent !important;
  --input-bgcolor                       : transparent !important;
  --input-border-color                  : rgba(208, 181, 117, 0.5) !important;
  --arrowpanel-background               : transparent !important;
  --tab-selected-bgcolor                : transparent !important;
  --toolbar-field-focus-background-color: transparent !important;
  --in-content-page-background          : transparent !important;
  --input-bgcolor                       : transparent !important;
  --input-border-color                  : rgba(208, 181, 117, 0.5) !important;
  --panel-separator-color               : #d0b575 !important;
  --panel-item-active-bgcolor           : transparent !important;
  --moz-menuhover                        : transparent !important;
  --button-hover-bgcolor                : transparent !important;
  --swipe-nav-icon-accent-color         : transparent !important;
  --swipe-nav-icon-primary-color        : transparent !important;
  --gradient1                           : linear-gradient(109.6deg,
      rgba(8, 19, 54, 0.95) 0%,
      rgba(26, 58, 102, 0.95) 25%,
      rgba(43, 1, 91, 0.95) 50%,
      rgba(122, 2, 54, 0.95) 100%);
  --gradient2: linear-gradient(109.6deg,
      rgba(1, 1, 30, 0.95) 0%,
      rgba(5, 1, 21, 0.95) 25%,
      rgba(26, 26, 43, 0.95) 50%,
      rgba(0, 0, 35, 0.95) 100%);
  --gradient3: linear-gradient(109.6deg,
      rgba(8, 19, 54, 0.95) 0%,
      rgba(26, 58, 102, 0.95) 25%,
      rgba(43, 1, 91, 0.95) 50%,
      rgba(122, 2, 54, 0.95) 100%);
  --gradient4: linear-gradient(109.6deg,
      rgba(8, 19, 54, 0.95) 0%,
      rgba(26, 58, 102, 0.95) 25%,
      rgba(43, 1, 91, 0.95) 50%,
      rgba(122, 2, 54, 0.95) 100%);
}

panel:not(#autoscroller),
menupopup,
#confirmation-hint {
  --arrowpanel-background: transparent !important;
  --panel-background     : rgba(88, 88, 88, 0) !important;
  --panel-shadow-margin  : 0px !important;
  --panel-border-radius  : 12px !important;
  background             :
    url("https://github.com/senshastic/fallsha-zen-mods/blob/main/assets/stardust.png?raw=true"),
    var(--gradient1),
    linear-gradient(120deg, rgba(15, 25, 50, 0.4) 0%, rgba(25, 60, 100, 0.4) 50%, rgba(50, 10, 80, 0.4) 100%) !important;
  background-attachment: fixed, fixed, fixed !important;
  background-size      : 200px, cover, cover !important;
  color                : inherit !important;
  border-radius        : 12px !important;
  border               : 1px solid rgba(208, 181, 117, 0.5) !important;
  box-shadow           :
    inset 0 0 12px rgba(255, 255, 255, 0.35),
    inset 0 0 20px rgba(255, 255, 255, 0.20) !important;
  overflow  : unset !important;
  z-index   : 9999 !important;
  opacity   : 0.99 !important;
  /* Slightly reduced transparency for clarity */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

@media (-moz-platform: macos) {
  .swipe-nav-icon-circle {
    fill: transparent !important;
  }
}

dialog:not(#window-modal-dialog) {
  background:
    url("https://github.com/senshastic/fallsha-zen-mods/blob/main/assets/stardust.png?raw=true"),
    var(--gradient1),
    linear-gradient(120deg, rgba(15, 25, 50, 0.4) 0%, rgba(25, 60, 100, 0.4) 50%, rgba(50, 10, 80, 0.4) 100%) !important;
  background-attachment: fixed, fixed, fixed !important;
  background-size      : 200px, cover, cover !important;
  color                : inherit !important;
  border-radius        : 12px !important;
  border               : 1px solid rgba(208, 181, 117, 0.5) !important;
  box-shadow           :
    inset 0 0 12px rgba(255, 255, 255, 0.35),
    inset 0 0 20px rgba(255, 255, 255, 0.20) !important;
  overflow  : unset !important;
  z-index   : 9999 !important;
  opacity   : 0.99 !important;
  /* Slightly reduced transparency for clarity */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#PanelUI-zen-profiles-header,
#PanelUI-zen-profiles-user-picture {

  background-color       : rgba(5, 5, 5, .18) !important;
  border-radius          : 12px;
  box-shadow             : 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter        : blur(100px) saturate(110%);
  -webkit-backdrop-filter: blur(100px);
  transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#zen-profile-button-icon {

  border: none !important;
}

.dialogBox {
  &:not(.spotlightBox) {
    box-shadow   : none !important;
    border-radius: 8px;
  }
}

input[type="email"],
input[type="tel"],
input[type="text"],
input[type="password"],
input[type="url"],
input[type="number"],
button[default],
richlistbox {
  background-color       : rgba(5, 5, 5, .18) !important;
  border-radius          : 12px;
  box-shadow             : 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter        : blur(100px) saturate(110%);
  -webkit-backdrop-filter: blur(100px);
  transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding                : 5px;
  border                 : 1px solid rgba(208, 181, 117, 0.5) !important;
}

button[default],
menuitem:not([disabled="true"])[selected="true"] {
  background-color       : rgba(5, 5, 5, .18) !important;
  border-radius          : 12px;
  box-shadow             : 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter        : blur(100px) saturate(110%);
  -webkit-backdrop-filter: blur(100px);
  transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding                : 5px;
  border                 : none !important;
}

.toolbar-menupopup {
  & menuseparator::before {
    border-bottom   : 1px solid rgba(208, 181, 117, 0.5) !important;
    background-color: transparent !important;
    border-top      : none !important;
  }
}

panel toolbarseparator {
  appearance   : none;
  min-height   : 0;
  border-top   : 0.5px solid #d0b575 !important;
  border-bottom: none;
  margin       : var(--panel-separator-margin);
  padding      : 0;
}

html|input:where(:not([type="radio"i], [type="checkbox"i], [type="range"i])),
html|textarea {
  background-color       : rgba(5, 5, 5, .18) !important;
  border-radius          : 12px;
  box-shadow             : 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter        : blur(100px) saturate(110%);
  -webkit-backdrop-filter: blur(100px);
  transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding                : 5px;
}

/* lower common dialog a tad */

#commonDialog {
  margin-top: 10px !important;
}

.tooltip-panel {
  border: none !important;
}


button[part="dialog-button"] {
  color:#d0b575 !important;
}