

#sidebar-box {
  border: none !important;
  box-shadow: none !important;


  #sidebar-header {
    border-bottom: none !important;
  }
}


:root[lwt-sidebar] {
background: transparent !important;
color: var(--lwt-sidebar-text-color);
scrollbar-color: light-dark( rgba(204,204,204,.5), rgba(249,249,250,.4) ) light-dark( rgba(230,230,235,.5), rgba(20,20,25,.3) );
color-scheme: light;
}

/* this is now useless */ 

#sidebar-reverse-position{
display: none !important;
}

#sidebarMenu-popup > menuseparator:nth-child(7){
display: none !important;
}

#sidebar-splitter {
  display: none;
}

#sidebar-box {
  position: absolute;
  height: calc(100% - 4rem);
  min-width: 10rem !important;
  min-height: 180px !important;
  max-height: calc(100% - 2rem);
  left: 1rem;
  margin-top: var(--natsumi-sidebar-y-offset);
  z-index: 999;
  opacity: 1;
  transition: left 0.2s ease, right 0.2s ease, opacity 0.2s ease !important;


    margin-top: 0;
    top: 50%;
    transform: translate(0, -50%);
  


    margin-top: 0;
    margin-bottom: 20px !important;
    top: unset;
    transform: unset;
    bottom: 0;
  


  background-color: var(--zen-themed-toolbar-bg-transparent) !important;
  backdrop-filter: blur(150px) !important; 
  box-shadow: inset 0px 2px 0px 0px #00000020, inset 0px 2px 8px 0px #00000040 !important;
  border-radius: 12px !important;
  
  border: none !important; 
  
    #sidebar-header {
      margin-left: 8px;
      margin-right: 8px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      border-bottom: 1px solid light-dark(rgba(20, 20, 20, 0.2), rgba(235, 235, 235, 0.3)) !important;
    }
  

 
    resize: horizontal;
  

  &[hidden] {
    display: flex;
    left: calc(var(--natsumi-sidebar-x-offset) - 20px);
    opacity: 0;
    pointer-events: none !important;
    animation: glass-disappear 0.2s linear !important;
    animation-fill-mode: forwards !important;


      left: auto;
      right: calc(var(--natsumi-sidebar-x-offset) - 20px);
    
  }
}


treechildren::-moz-tree-cell(hover){
 
  background-color: transparent !important;
 margin-left: 10px !important;
 transition: margin-left 0.2s ease;

}

treechildren::-moz-tree-row(hover){

background-color: transparent !important;


}



  

