#back-button,
#forward-button{
	display: none !important;
}



#zen-workspaces-button {
  position: absolute !important;
  top: calc(24rem - 100vh) !important;
  width: 100% !important;
  left: 0 !important;
  padding-top: 1rem !important;
}

#zen-current-workspace-indicator-container {
  margin-bottom: 8rem !important;
}
.zen-workspace-tabs-section.zen-current-workspace-indicator{
    margin-bottom: 3rem !important;
}

/* funny flip animations for images */ 
.tabbrowser-tab:not([zen-essential="true"]) .tab-icon-image {
  transition: transform 0.6s ease;
  transform-style: preserve-3d; /* Enables 3D transformations */
}

.tabbrowser-tab:not([zen-essential="true"]) .tab-icon-image:hover {
  animation: flipAndScale 0.6s forwards;
}

@keyframes flipAndScale {
  from {
      transform: rotateY(0deg) scale(1);
  }
  to {
      transform: rotateY(360deg) scale(1.5);
  }
}




