#back-button,
#forward-button{
	display: none !important;
}



#zen-workspaces-button {
  position: absolute !important;
  top: calc(24.5rem - 100vh) !important;
  width: 100% !important;
  left: 0 !important;
}

#zen-current-workspace-indicator-container {
  margin-bottom: 6.5rem !important;
}




