#tabbrowser-tabpanels[zen-split-view="true"] .browserSidebarContainer.deck-selected {
	outline: 0px solid red !important;
}


tab-group[split-view-group] {
	& > .tabbrowser-tab {
	  &:not(:last-child)::after {
		content: '';
		background-color:transparent !important;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	  }
	}
  }
  
tab-group[split-view-group="true"]{
	height: 0rem !important;
}

tab-group[split-view-group="true"] .tabbrowser-tab[aria-posinset="1"] {
	width: 50% !important;
	height: 150% !important;
	bottom: 50% !important;
}

tab-group[split-view-group="true"] .tabbrowser-tab[aria-posinset="2"] {
	width: 50% !important;
	bottom: 150% !important;
	left: 50% !important;
}