

    /* ANCHOR [tooltip] */
    tooltip,
    tool-tip,
    /* for some reason this fixed some tooltips, idk */
    tooltip[label="Extensions"] {
        background-color: transparent !important;
        border-radius   : 12px !important;
        box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter : blur(100px) saturate(110%);
        transition      : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        padding         : 5px;
        border          : 10px solid red !important;
    }


tooltip::before, tool-tip::before, tooltip[label="Extensions"]::before, #statuspanel-label::before  {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--zen-main-browser-background) !important;
  opacity: 0.7;
  z-index: -1;
}



      #statuspanel-label {
        background-color: transparent !important;
        border-radius   : 6px !important;
        box-shadow      :  inset 0px 2px 0px 0px #00000020, inset 0px 2px 8px 0px #00000040 !important;
        backdrop-filter : blur(100px) saturate(110%);
        transition      : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        padding         : 8px !important;
        border          : none !important;
      }


