#tabbrowser-tabbox{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} 


#urlbar-background {
  background-color: var(--background-secondary, rgba(31, 26, 68, 0.65)) !important; /* Inherit background color or fallback */
  backdrop-filter: blur(150px) !important; 
  box-shadow: inset 0 0px 5px rgba(255, 255, 255, 0.6) !important;
}

#urlbar [focused] > #urlbar-background{
    box-shadow: inset 0 0px 5px rgba(255, 255, 255, 0.6) !important;
}

#urlbar-container{
    background: transparent !important;
}

#urlbar {
  --urlbarView-separator-color: #d0b575 !important;
  --zen-colors-border         : #d0b575 !important;
}

#urlbar[open]>.urlbarView>.urlbarView-body-outer>& {
  border-top   : 1px solid #d0b575 !important;
  border-bottom: 1px solid #d0b575 !important;
}

#urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]) {
  &:after {
    content       : "";
    position      : fixed;
    pointer-events: none;

    width : 100vw;
    height: 100vh;

    top : 0px;
    left: 0px;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter : blur(5px);

    z-index: -1;
  }
}
