#urlbar-background {
  background-color: var(--background-secondary, rgba(31, 26, 68, 0.65)) !important; /* Inherit background color or fallback */
  backdrop-filter: blur(50px) !important; /* Enhanced acrylic effect */
  box-shadow: inset 0 0px 5px rgba(255, 255, 255, 0.6);
}
