#tabbrowser-tabbox{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} 


:root {
  --zen-colors-border         : #d0b575 !important;
  --urlbarView-separator-color: #d0b575 !important;
  --gradient1                 : linear-gradient(109.6deg,
      rgba(8, 19, 54, 0.95) 0%,
      rgba(26, 58, 102, 0.95) 25%,
      rgba(43, 1, 91, 0.95) 50%,
      rgba(122, 2, 54, 0.95) 100%);
  --gradient2: linear-gradient(109.6deg,
      rgba(1, 1, 30, 0.95) 0%,
      rgba(5, 1, 21, 0.95) 25%,
      rgba(26, 26, 43, 0.95) 50%,
      rgba(0, 0, 35, 0.95) 100%);
  --gradient3: linear-gradient(109.6deg,
      rgba(8, 19, 54, 0.95) 0%,
      rgba(26, 58, 102, 0.95) 25%,
      rgba(43, 1, 91, 0.95) 50%,
      rgba(122, 2, 54, 0.95) 100%);
  --gradient4: linear-gradient(109.6deg,
      rgba(8, 19, 54, 0.95) 0%,
      rgba(26, 58, 102, 0.95) 25%,
      rgba(43, 1, 91, 0.95) 50%,
      rgba(122, 2, 54, 0.95) 100%);
}

#urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]) {
  &:after {
    content       : "";
    position      : fixed;
    pointer-events: none;

    width : 100vw;
    height: 100vh;

    top : 0px;
    left: 0px;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter : blur(5px);

    z-index: -1;
  }
}

#urlbar-background {
  background:
    /* linear-gradient(120deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 100%), */
    url("https://github.com/senshastic/fallsha-zen-mods/blob/main/assets/stardust.png?raw=true"),
    var(--gradient2),
    linear-gradient(120deg, rgba(15, 25, 50, 0.4) 0%, rgba(25, 60, 100, 0.4) 50%, rgba(50, 10, 80, 0.4) 100%) !important;
  background-attachment: fixed, fixed, fixed !important;
  background-size      : 200px, cover, cover !important;
  backdrop-filter: blur(50px) !important; 
  color                : inherit !important;
  border-radius        : 12px !important;
  border               : 1px solid rgba(208, 181, 117, 0.5) !important;
  box-shadow           :
    inset 0 0 8px rgba(255, 255, 255, 0.20),
    inset 0 0 15px rgba(255, 255, 255, 0.10) !important;
  overflow  : unset !important;
  opacity   : 0.75 !important;
  /* Slightly reduced transparency for clarity */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#urlbar [focused]>#urlbar-background {
  box-shadow: inset 0 0px 5px rgba(255, 255, 255, 0.6) !important;
}

#urlbar-container {
  background: transparent !important;
}

#urlbar {
  --urlbarView-separator-color: #d0b575 !important;
  --zen-colors-border         : #d0b575 !important;
}

#urlbar[open]>.urlbarView>.urlbarView-body-outer>& {
  border-top   : 1px solid #d0b575 !important;
  border-bottom: 1px solid #d0b575 !important;
}