    /* ANCHOR [Sidebar Styling] */


    #zen-sidebar-web-panel {
        position: relative;
        background: 
        linear-gradient(109.6deg, rgba(1, 1, 30, 0.95) 0%, rgba(5, 1, 21, 0.95) 25%, rgba(26, 26, 43, 0.95) 50%, rgba(0, 0, 35, 0.95) 100%), 
        linear-gradient(120deg, rgba(15, 25, 50, 0.4) 0%, rgba(25, 60, 100, 0.4) 50%, rgba(50, 10, 80, 0.4) 100%), 
        url("https://raw.githubusercontent.com/senshastic/sensha-betterer-todoist/refs/heads/main/assets/noise.svg") !important; 
        background-attachment: fixed, fixed, fixed !important;
        background-size: cover, cover, 150% !important; /* Larger texture size for a blurrier appearance */
        color: inherit !important;
        border-radius: 16px !important;
        border: 1px solid rgba(208, 181, 117, 0.5) !important;
        box-shadow: 
            inset 0 0 10px rgba(255, 255, 255, 0.1),
            inset 0 0 20px rgba(255, 255, 255, 0.15) !important; 
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        overflow: hidden;
    }




    #zen-sidebar-web-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
    }

    #zen-sidebar-panels-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.15) !important;
    }
