#tabbrowser-tabbox, #zen-tabbox-wrapper {
    background-color: rgba(5, 5, 5, .18) !important;
    box-shadow: inset 0px 2px 0px 0px #00000020, inset 0px 2px 8px 0px #00000040 !important;
    border-radius: 12px !important;
    margin: 2px 3px 2px 2px !important;    
}
  
    .browserContainer {
        clip-path: inset(0 round 12px);
    }


    /*Blur for the tab behing the glanced thing*/
.zen-glance-background {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter : blur(5px);
}

    

.browserSidebarContainer.deck-selected>.browserContainer>.browserStack>browser:not([nodefaultsrc="true"]){
    visibility: hidden !important;
}

/* fix bleed when changing workspaces */

.zen-workspace-tabs-section:not([active="true"]){
    display: none !important;
}